table{
  display: inline;
  border-collapse:collapse;
  text-align:center;
}
#picture{
  display: inline;
  float:left;
}
#header{
  background-color:#3e4045;
}
.impair{
  background-color:#999999;
}
td{
  border:none;
  margin:auto;
}
